# Object files (compiler)
*.o

# Dependency files (compiler)
*.d

# Release and debug executables
copris
copris_dbg

# Cppcheck's report directory
cppcheck_report/

# Ignore test executables, permit source 
# files with an extension
tests_cmocka/*
!tests_cmocka/*.*
