# Object and dependency files
*.[od]

# Release and debug executables
copris
copris_dbg

# Cppcheck's report directory
cppcheck_report/

# Tests files
tests/cmocka-*
tests/*.gcno
tests/*.gcda
tests/coverage.info
tests/coverage_report/
